

.round {
  width: 160px;
  height: 160px;
  // border: 1px solid $white;
  // border-radius: 5px;
  float: right;
  margin: 15vh auto;
}

// .shape {
//  color:$white;
//  font-size: 4rem;
//  font-style: bold;
//  background-image: url('../img/login.psd');
//  margin: 20% auto;
//  }



