.main_login{
    width: 550px;
    height: 600px;
    background: $green;
    margin: 15vh auto; 
    // padding: 20px, 5px;  
    p{
        color: $white;
    }      
}
//--- Welcom part
.welcom_part{
    margin-top: 10vh;     
    :first-child{
        font-size: 40px;
        line-height:2.5;
    }
    :last-child{
        font-size: 15px;
    }       
}

.main-form{
    width:80%;
    height: 50%;
    margin: 20% auto;
    border: 1px solid $blue;
    border-radius:3px;
    // position: relative;
}

//--- Customer avatar
.circle{
    width: calc(100vw/20);
    height: calc(100vw/20);
    background:$white;
    border-radius:50%;
    margin: -11% auto;
    // position: absolute;
    // bottom: 90%;
    // left: calc(24vw/2);
    img{        
        width: 100%;
        height: 100%;
        border-radius: 50%;        
    }
}
//--- Customer ID
.customer-number{
    width:100%;
    margin: 20% auto 5%;
    input[type='number'], textarea{
        width: 40%;
        margin: 1% auto 1%;
        border: 1px solid $green;
        background-color: $green;
        display: inline-block;
        box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0); 
        color: $white;
        } 
      input::placeholder{
        color:$white;
      }      
    }         
    .remove-circle{
        width:20px;
        height: 20px;
        display: inline-block;
        margin: 0 0 -5px -15px;
        border-radius: 50%;
        background-color: $blue;
        .remove-x{
            width: 60%;
            height: 60%;  
            margin: 0 auto;
            margin-top:20%;       
            background-color: $white;
            clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        }
    }
//--- Password
.customer-password{
    width:90%;
    height: 4%;
    margin: -10px auto;  
    input[type='text'], textarea{
        width: 80%;
        height: 2%;
        display: inline-block;         
    }
    .keyboard {
        width: 36px;
        height: 28px;
        display: inline-block;   
        margin: -6px auto;  
        background-repeat: no-repeat;
        background-image: url("../img/keyboard.svg");
        background-color: #0abed3;
        background-position: 0 0;      
    }
  }  
// -----Buttons
.buttons{
    width: 85%;
    margin: 50px auto;
    display: inline-block;    
    button{
        display: inline-block;  
        padding: 3%;
        color: $white;
        width:45%;
        height: 30%;        
        a{
            text-decoration: none;
            color:$white;
            // font-size: 12px;
        }    
    }
  button:hover{
        background: $white;            
        border-radius:5px; 
        a{
            color: black;
        }      
     }
}
// -----Navigations
nav{
    margin: -12% 0 0 32%;
    padding: 10px;
    ul{
        li{
             display: inline-block;
            a{
                padding: 4px;
                text-decoration: none;
                color:$white;
                font-size: 0.7rem;                             
            }
            a:hover{
                    text-decoration: none;
                    color:$white;
                }   
        }
    }
}